


@media screen and (min-width: 961px) {
  .home_1 {
    height: 250px;
    background: #3F51B5;
  
    form {
      width: 1000px;
      margin: auto;
      margin-top: 100px;
  
      .search {
        width: 80%;
        padding: 10px;
        font-size: 20px;
      }
  
      .submit {
        width: 20%;
        padding: 10px;
        font-size: 20px;
        background-color: #333399;
        color: white;
      }
      .submit :hover {
        color: #ffc107;
      }
    }
    
  }
  
  .home_2 {
    display: flex;
    flex-direction: column;
  
    .home_2_tile {
      font-weight: 600;
      margin-top: 25px;
      text-align: center;
    }
  
    hr {
      border: none;
      border-top: 3px double #3F51B5;
      color: #3F51B5;
      overflow: visible;
      text-align: center;
      align-items: center;
      height: 5px;
      width: 20%;
      align-items: center;
      margin-bottom: 15px;
    }
  
    hr:after {
        background: #fff;
        content: '§';
        text-align: center;
        padding: 0 4px;
        position: relative;
        top: -13px;
    }
  
    .card_grid {
      margin-left: 8%;

      .example-card {
        margin-bottom: 15px;
        max-width: 400px;

        // .image_avatar {
        //   width: 100%;
        // }

        mat-card-title {
          color: accent;
        }
  
        .add_panier {
          float: right;
        }
        .rating {
          margin-left: -8px;
          margin-right: -8px;
        }
      }
      
    }
  
  }
  
}

  @media screen and (max-width: 960px) {
    .home_1 {
      height: 250px;
      background: #3F51B5;
      
      form {
        width: 1000px;
        margin: auto;
        margin-top: 100px;
        justify-content: center;
    
        .search {
          width: 75%;
          padding: 10px;
          font-size: 20px;
        }
    
        .submit {
          align-items: center;
          width: 25%;
          padding: 10px;
          font-size: 20px;
          background-color: #333399;
          color: white;
        }

        .submit :hover {
          color: #ffc107;
        }
      }
    }

    .home_2 {
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 5%;

      h4 {
        font-weight: 600;
        margin-top: 25px;
        text-align: center;
      }

      hr {
        border: none;
        border-top: 3px double #3F51B5;
        color: #3F51B5;
        overflow: visible;
        text-align: center;
        height: 5px;
        width: 20%;
        margin-bottom: 15px;
      }

      hr:after {
          background: #fff;
          content: '§';
          padding: 0 4px;
          position: relative;
          top: -13px;
      }
      .card_grid {
        margin-left: 4%;
  
        .example-card {
          margin-bottom: 15px;
          max-width: 400px;
    
          .add_panier {
            float: right;
          }

          .rating {
            margin-left: -8px;
            margin-right: -8px;
          }
        }
        
      }

    }
  }


  @media screen and (max-width: 600px) {
    .home_1 {
      height: 250px;
      background: #3F51B5;
      
      form {
        width: 1000px;
        margin: auto;
        margin-top: 100px;
        justify-content: center;
    
        .search {
          width: 73%;
          padding: 10px;
          font-size: 20px;
        }
    
        .submit {
          align-items: center;
          width: 28%;
          padding: 10px;
          font-size: 20px;
          background-color: #333399;
          color: white;
        }

        .submit :hover {
          color: #ffc107;
        }
      }
    }

    .home_2 {
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 5%;

      h4 {
        font-weight: 600;
        margin-top: 25px;
        text-align: center;
      }

      hr {
        border: none;
        border-top: 3px double #3F51B5;
        color: #3F51B5;
        overflow: visible;
        text-align: center;
        height: 5px;
        width: 20%;
        margin-bottom: 15px;
      }

      hr:after {
          background: #fff;
          content: '§';
          padding: 0 4px;
          position: relative;
          top: -13px;
      }

      .card_grid {
        margin-left: 1%;
  
        .example-card {
          margin-bottom: 15px;
          max-width: 400px;
    
          .add_panier {
            float: right;
          }
          .rating {
            margin-left: -8px;
            margin-right: -8px;
          }
        }
        
      }

    }
    
  }
