<section class="home_1">
  <mat-toolbar-row>
    <form  class="mat-elevation-z10">
      <input type="search" name="search" class="search" placeholder="Recherche..." [(ngModel)]="searchTerm" (keyup.enter)="search()">
      <input type="button" mat-button value="search" name="submit" (click)="search()" class="submit" matTooltip="Cliquez ici pour rechercher">
    </form>
  </mat-toolbar-row>
</section>

<section class="home_2">
  <h4 class="home_2_tile">Gagnez du temps!!! Voici les Sites Web les plus recherchés</h4>
 <hr>

  <div class="card_grid"
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="8%"
        fxLayoutAlign="flex-start" *ngIf="products$; else loading">
    <ng-container *ngFor="let product of products$">
      <mat-card class="example-card" fxFlex="0 1 calc(33.3% - 8%)" fxFlex.lt-md="0 1 calc(50% - 8%)" fxFlex.lt-sm="100%">
        <img class="image_avatar" mat-card-image [src]="product.productImageUrl" alt="Photo of a Shiba Inu">
        <mat-card-content  (click)="detail(product.id)">
          <mat-card-title>{{ product.Title }}</mat-card-title>
          <p>
            {{ product.Description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button class="rating" mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i">
            <mat-icon>
              {{showIcon(i)}}
            </mat-icon>
          </button> -->

          <button mat-icon-button>
            {{ product.Rating }}/5
          </button>

          <button class="add_panier" mat-raised-button color="accent" matTooltip="Ajoutez au panier" (click)="addToCart()">
            <mat-icon aria-hidden="false" aria-label="Fast Smart panier cart">shopping_cart</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>

  <ng-container #loading>
    <!-- <div class="card_grid"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="8%"
    fxLayoutAlign="flex-start">
      <div class="item" fxFlex="0 1 calc(33.3% - 8%)" fxFlex.lt-md="0 1 calc(50% - 8%)" fxFlex.lt-sm="100%">
        <ngx-skeleton-loader count="5" appearance="circle"
        [theme]="{ width: '400px', height: '300px', 'border-radius': '30px' }"> 
      </ngx-skeleton-loader>
      </div>
  </div> -->
  </ng-container>
  
</section>
