.home_1 {
  height: 250px;
  background: #3F51B5;
  mat-form-field.mat-form-field {
    color: cornsilk;
    margin-top: 150px;
    margin-left: 12%;
    width: 80%;
  }

  form {
    width: 1000px;
    margin: auto;
    margin-top: 110px;

    .search {
      width: 80%;
      padding: 10px;
      font-size: 20px;
    }

    .submit {
      width: 20%;
      padding: 10px;
      font-size: 20px;
      background-color: #333399;
      color: white;
    }
    .submit :hover {
      color: #ffc107;
    }
  }
  
}

.home_2 {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;

  h4 {
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
  }

  hr {
    border: none;
    border-top: 3px double #3F51B5;
    color: #3F51B5;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 20%;
    margin-bottom: 15px;
  }

  hr:after {
      background: #fff;
      content: '§';
      padding: 0 4px;
      position: relative;
      top: -13px;
  }

  .card_grid {
    // display: flex;
    // // flex-direction: column; // modile
    // align-items: center;
    // flex: 1 3; // Desktop

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;

    .example-card {
      margin: 10px 10px;
      max-width: 400px;
    }

    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  }


}


  /* Responsive Styles */
  @media screen and (max-width: 960px) {
    .home_1 {
      height: 250px;
      background: #3F51B5;
      
      form {
        width: 1000px;
        margin: auto;
        margin-top: 100px;
        justify-content: center;
    
        .search {
          width: 75%;
          padding: 10px;
          font-size: 20px;
        }
    
        .submit {
          align-items: center;
          width: 25%;
          padding: 10px;
          font-size: 20px;
          background-color: #333399;
          color: white;
        }

        .submit :hover {
          color: #ffc107;
        }
      }
    }

    .home_2 {
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 5%;

      h4 {
        font-weight: 600;
        margin-top: 25px;
        text-align: center;
      }

      hr {
        border: none;
        border-top: 3px double #3F51B5;
        color: #3F51B5;
        overflow: visible;
        text-align: center;
        height: 5px;
        width: 20%;
        margin-bottom: 15px;
      }

      hr:after {
          background: #fff;
          content: '§';
          padding: 0 4px;
          position: relative;
          top: -13px;
      }

      .card_grid {
        display: flex;
        flex-direction: column; // modile
        // align-items: center;
        flex: 1 3; // Desktop
        justify-content: center;
        margin-top: 16px;

        .example-card {
          margin: 10px 10px;
          max-width: 400px;
        }

        .example-header-image {
          background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
          background-size: cover;
        }
      }
    }
  }
