mat-toolbar {
  clear: both;
  width : 100%;
  position: sticky;
  bottom: 0;
  background: rgba($color: #000000, $alpha: 1.0);
  color: white;

  // opacity: 80%;
  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  font-weight: 200;
  font-size: small;

}
