<section class="contact">
    <div class="contact_1">
        <!-- <img src="/assets/img/car.png" alt=""> -->
    </div>
    <div class="contact_2">
        <form class="example-form">
            <h2>Contactez-Nous</h2>
  
            <mat-form-field class="example-full-width">
            <mat-label>Prénom et Nom</mat-label>
                <input matInput placeholder="Nom Complet">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Téléphone</mat-label>
                <input matInput placeholder="Téléphone">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Sujet</mat-label>
                <input matInput placeholder="Sujet">
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
            <mat-label>Message</mat-label>
            <textarea matInput rows="3" placeholder="Message..."></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary">Envoyez</button>
        </form>
        
    </div>


    

</section>