
@media screen and (min-width: 961px) {
    .mobile {
      display: none;
    }

    .desktop {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .urlTest {
      text-decoration: none;
    }


    .title_desktop {
        font-weight: 700;
        font-size: 30px;
    }

    .content {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: justify;
    }
  
    .desktop_img {
      width: 100%;
      height: 400px;
      // border-radius: 50%;
    
      // object-fit: cover;
      // object-position: center right;
    }
  
    .font-size-20 {
      font-weight: 700;
      padding-right: 5px;
    }
  
  }
  
  @media screen and (max-width: 960px) {
    .mobile_img {
      width: 100%;
      height: 200px;
      // margin-right: 5px;
      // margin-left: 5px;
      
    }

    .desk_content {
      padding-bottom: 10px;
    }

    .urlTest {
      text-decoration: none;
    }
  
    .hr_title {
      border: none;
      border-top: 2px double #3F51B5;
      // margin-left: 0;
      color: #3F51B5;
      overflow: visible;
      text-align: center;
      align-items: center;
      height: 5px;
      width: 20%;
      align-items: center;
      margin-bottom: 15px;
    }
  
    .hr_body {
      border: none;
        border-top: 2px double #3F51B5;
        margin-left: 0;
        color: #3F51B5;
        overflow: visible;
        text-align: center;
        align-items: center;
        height: 5px;
        width: 20%;
        align-items: center;
        margin-bottom: 15px;
    }
  
    .font-size-20 {
      font-weight: 700;
    }
  
    .font-size-36 {
      font-weight: 700;  
      font-size: 24px;
    }
  
    .desktop {
      display: none;
    }
  
    .mobile {
      margin-top: 20px;
      margin-bottom: 30px;

      margin-left: 20px;
      margin-right: 20px;
    }

    .mobile_content {
      text-align: justify;
      
    }
  }
